* {
  font-family: cursive;
}
.form-group-app .row {
  margin-bottom: 20px;
}
.form-group-app .row .col-3 {
  text-align: right;
  align-self: center;
}
.header-form {
  padding: 10px;
  background-color: cadetblue;
  color: #fff;
}
.form-wrap {
  padding-bottom: 50px;
}

.search {
  display: flex;
  justify-content: space-between;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}
.text-eslip {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pagination .page-item {
  cursor: pointer;
}

.imageCustom {
  width: 200px; height: 150px; object-fit: cover
}
